@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Press+Start+2P&family=Trirong:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App header h1{
  font-family: 'Press Start 2P', cursive;
}